body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f4f6f9;
}

header {
  background-color: #0b5cab;
  color: white;
}

nav {
  background-color: #083e77;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  background: white;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #0b5cab;
}

footer {
  text-align: center;
  font-size: 14px;
}
